<h1>This should be the LOGIN page</h1>

<div class="landing">

  <div class="logo">
    <h1>...login...</h1>
  </div>


  <div class="gaps"></div>

  <div class="form">
    <%= form_tag login_path do %>
      <p>
        <%= label_tag :email %><br>
        <%= email_field_tag :email, "", :placeholder => "Type your email", :required => true %>
      </p>

      <p>
        <%= label_tag :Password%><br>
        <%= password_field_tag :password, "", :required => true %>
      </p>
        <%= submit_tag link_to("Login", ) %>
      <% end %>
  </div>








</div>
