
  <h1>This will be the RESULTS page</h1>

  <div class="container">

    <div class="first">
      <div class="time">
        AM
      </div>

      <div class="info">
        <p>Name: <%= link_to(@AMact.name, "/activities/#{@AMact.id}/display") %></p>
        <p>Description: <%= @AMact.description %></p>
      </div>


    <div class="time">
      MD
    </div>

    <div class="info">
        <p>Name: <%= link_to(@MDact.name, "/activities/#{@MDact.id}/display") %></p>
        <p>Description: <%= @MDact.description %></p>
    </div>

    <div class="time">
      PM
    </div>

    <div class="info">
        <p>Name: <%= link_to(@PMact.name, "/activities/#{@PMact.id}/display") %></p>
        <p>Description: <%= @PMact.description %></p>
    </div>

  </div>

  <div class="MoreOptions">

    <%= link_to("Back to questions", activities_search_path, :class => "refresh") %>

  </div>
  <div class="MoreOptions">

    <%= link_to("Refresh", activities_results_path, :class => "refresh") %>

  </div>
</body>
