<h1>Go on...make my day...</h1>

  <hr>
    <div>
      <h2>Who are you spending the day with?</h2>
    </div>
  <hr>

  <div class="option1">
    <div class="selection1" data-groupsize="single">single</div>
    <div class="selection1" data-groupsize="together">together</div>
    <div class="selection1" data-groupsize="family">family</div>
  </div>

  <hr>
    <div>
      <h2>What is your budget?</h2>
    </div>
  <hr>

  <div class="option2">
    <div class="selection2" data-budget="cheap">$</div>
    <div class="selection2" data-budget="reasonable">$$</div>
    <div class="selection2" data-budget="expensive">$$$$</div>
  </div>

  <hr>
    <div>
      <h2>What sort of day are you looking for?</h2>
    </div>
  <hr>

  <div class="option3">
    <div class="selection3" data-type="active">active</div>
    <div class="selection3" data-type="cultural">cultural</div>
    <div class="selection3" data-type="edible">edible</div>
  </div>

  <%= form_tag("/activities/results", method: 'get') do %>
    <%= hidden_field_tag(:opt1) %>
    <%= hidden_field_tag(:opt2) %>
    <%= hidden_field_tag(:opt3) %>
    <%= submit_tag("Make my day...", :id => "btn") %>
  <% end %>
